// SPDX-License-Identifier: GPL-2.0-or-later OR MIT

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>

#include "mt7981.dtsi"

/ {
	model = "Philips HY3000";
	compatible = "ph,hy3000-emmc", "mediatek,mt7981";

	aliases {
		serial0 = &uart0;
		led-boot = &status_red_led;
		led-failsafe = &status_red_led;
		led-running = &status_green_led;
		led-upgrade = &status_red_led;
	};

	chosen {
		bootargs = "root=PARTLABEL=rootfs rootwait";
		stdout-path = "serial0:115200n8";
	};

	memory@40000000 {
		reg = <0 0x40000000 0 0x20000000>;
	};

	gpio-keys {
		compatible = "gpio-keys";

		button-mesh {
			label = "mesh";
			linux,code = <BTN_9>;
			linux,input-type = <EV_SW>;
			gpios = <&pio 0 GPIO_ACTIVE_LOW>;
		};

		button-reset {
			label = "reset";
			linux,code = <KEY_RESTART>;
			gpios = <&pio 1 GPIO_ACTIVE_LOW>;
		};
	};

	gpio-leds {
		compatible = "gpio-leds";

                status_red_led: led-0 {
                        label = "red:status";
                        gpios = <&pio 8 GPIO_ACTIVE_LOW>;
                };

                status_green_led: led-1 {
                        label = "green:status";
                        gpios = <&pio 13 GPIO_ACTIVE_LOW>;
                };

                status_blue_led: led-2 {
                        label = "blue:status";
                        gpios = <&pio 12 GPIO_ACTIVE_LOW>;
		};
	};
};

&eth {
	status = "okay";

	gmac0: mac@0 {
		compatible = "mediatek,eth-mac";
		reg = <0>;
		phy-mode = "2500base-x";

		fixed-link {
			speed = <2500>;
			full-duplex;
			pause;
		};
	};
	
	gmac1: mac@1 {
		compatible = "mediatek,eth-mac";
		reg = <1>;
		phy-mode = "2500base-x";

		fixed-link {
			speed = <2500>;
			full-duplex;
			pause;
		};
	};



	mdio: mdio-bus {
		#address-cells = <1>;
		#size-cells = <0>;


		switch@0 {
			compatible = "mediatek,mt7531";
			reg = <31>;
			reset-gpios = <&pio 39 0>;

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					label = "wan";
				};

				port@1 {
					reg = <1>;
					label = "lan1";
				};

				port@2 {
					reg = <2>;
					label = "lan2";
				};

				port@3 {
					reg = <3>;
					label = "lan3";
				};
				
				port@6 {
					reg = <6>;
					label = "cpu";
					ethernet = <&gmac0>;
					phy-mode = "2500base-x";

					fixed-link {
						speed = <2500>;
						full-duplex;
						pause;
					};
				};
			};
		};
	};
};
&mmc0 {
	bus-width = <8>;
	cap-mmc-highspeed;
	max-frequency = <52000000>;
	no-sd;
	no-sdio;
	non-removable;
	pinctrl-names = "default", "state_uhs";
	pinctrl-0 = <&mmc0_pins_default>;
	pinctrl-1 = <&mmc0_pins_uhs>;
	vmmc-supply = <&reg_3p3v>;
	status = "okay";

	card@0 {
		compatible = "mmc-card";
		reg = <0>;

		block {
			compatible = "block-device";

			// 设置为 64 位寻址，因为分区大小和偏移量超过 4GB
			partitions {
				#address-cells = <2>;
				#size-cells = <2>;

				// 1. p1: gpt (0x0 to 0x4745)
				partition@1 {
					label = "gpt";
					reg = <0x0 0x0 0x0 0x4745>;
				};

				// 2. p2: u-boot-env (0x431aa0 to 0x4b8106)
				partition@2 {
					label = "u-boot-env";
					reg = <0x0 0x431aa0 0x0 0x86666>;
				};

				// 3. p3: factory (0x4b8106 to 0x6d0e56) - 包含 nvmem-layout
				block_partition_factory: partition@3 {
					label = "factory";
					reg = <0x0 0x4b8106 0x0 0x218d50>;

					nvmem-layout {
						compatible = "fixed-layout";
						#address-cells = <1>;
						#size-cells = <1>;

						eeprom_factory_0: eeprom@0 {
							reg = <0x0 0x1000>;
						};

						macaddr_factory_4: macaddr@4 {
							compatible = "mac-base";
							reg = <0x4 0x6>;
							#nvmem-cell-cells = <1>;
						};
					};
				};

				// 4. p4: fip (0x6d0e56 to 0x8e9ba6)
				partition@4 {
					label = "fip";
					reg = <0x0 0x6d0e56 0x0 0x218d50>;
				};

				// 5. p5: kernel (0x8e9ba6 to 0x2a80000)
				partition@5 {
					label = "kernel";
					reg = <0x0 0x8e9ba6 0x0 0x219645a>;
				};

				// 6. p6: rootfs (OpenWrt /rom) - 关键 (0x2a80000 to 0x23700000)
				partition@6 {
					label = "rootfs";
					reg = <0x0 0x2a80000 0x0 0x20c80000>;
					compatible = "denx,uimage";
				};

				// 7. p7: recovery (0x23700000 to 0x24200000)
				partition@7 {
					label = "recovery";
					reg = <0x0 0x23700000 0x0 0xb00000>;
				};

				// 8. p8: rootfs_data (OpenWrt /overlay) - 最关键! (0x24200000 to 0x130900000)
				partition@8 {
					label = "rootfs_data";
					// 0x0 0x24200000 (Start Hi/Lo) | 0x1 0xc700000 (Size Hi/Lo)
					reg = <0x0 0x24200000 0x1 0xc700000>;
				};

				// 9. p9: data1 (0x130900000 to 0x1e7800000)
				partition@9 {
					label = "data1";
					// 0x1 0x30900000 (Start Hi/Lo) | 0x1c 0xd6f00000 (Size Hi/Lo)
					reg = <0x1 0x30900000 0x1c 0xd6f00000>;
				};

				// 10. p10: data2 (0x1e7800000 to 0x1e8280000)
				partition@10 {
					label = "data2";
					// 0x1e 0x7800000 (Start Hi/Lo) | 0x0 0xa80000 (Size Hi/Lo)
					reg = <0x1e 0x7800000 0x0 0xa80000>;
				};

				// 11. p11: swap (0x1e8280000 to 0x1e8280000 + 0x80f00000)
				partition@11 {
					label = "swap";
					// 0x1e 0x8280000 (Start Hi/Lo) | 0x0 0x80f00000 (Size Hi/Lo)
					reg = <0x1e 0x8280000 0x0 0x80f00000>;
				};
			};
		};
	};
};

&pio {
	mmc0_pins_default: mmc0-pins-default {
		mux {
			function = "flash";
			groups = "emmc_45";
		};
	};

	mmc0_pins_uhs: mmc0-pins-uhs {
		mux {
			function = "flash";
			groups = "emmc_45";
		};
	};
};

&uart0 {
	status = "okay";
};

&watchdog {
	status = "okay";
};

&wifi {
	nvmem-cells = <&eeprom_factory_0>;
	nvmem-cell-names = "eeprom";
	status = "okay";

	band@1 {
		reg = <1>;
		nvmem-cells = <&macaddr_factory_4 1>;
		nvmem-cell-names = "mac-address";
	};
};

&usb_phy {
	status = "okay";
};

&xhci {
	status = "okay";
};
